.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: black;
    font-style: italic;
}

h1{
    text-align: center;
}

.btn{
    color: blue;
    background-color: rgb(45, 132, 132);
}